<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="footer-top">
                    <h2 class="logo-title">
                        <a href="{{site.baseurl}}/{% if page.lang == 'cn' %}cn{% else %}en{% endif %}/" class="logo-text">Probe</a>
                    </h2>
                    <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
                </div>
                <div class="footer-bottom">
                    <div class="copyright">
                        <p>{% if page.lang == 'cn' %}由 Probe 使用{% else %}Built by Probe using{% endif %} <a href="https://github.com/artemsheludko/galada">GALADA</a> {% if page.lang == 'cn' %}搭建{% endif %} ♥️</p>
                    </div>
                    <div class="footer-social">
                        <ul class="list-reset">
                            {% if site.facebook %}
                            <li><a href="{{ site.facebook }}" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                            {% else %} {% endif %} {% if site.twitter %}
                            <li><a href="{{ site.twitter }}" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            {% else %} {% endif %} {% if site.instagram %}
                            <li><a href="{{ site.instagram }}" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                            {% else %} {% endif %} {% if site.pinterest %}
                            <li><a href="{{ site.pinterest }}" title="Pinterest"><i class="fab fa-pinterest"></i></a></li>
                            {% else %} {% endif %} {% if site.youtube %}
                            <li><a href="{{ site.youtube }}" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                            {% else %} {% endif %}
                            {% if site.spotify %}
                            <li><a href="{{ site.spotify }}" title="Spotify"><i class="fab fa-spotify"></i></a></li>
                            {% else %} {% endif %}
                            {% if site.contact %}
                            <li><a href="{{ site.contact }}" title="Contact"><i class="fas fa-envelope"></i></a></li>
                            {% else %} {% endif %}
                            <li><a href="{{ site.baseurl }}/feed.xml" title="RSS"><i class="fas fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /.footer -->