{% assign posts=site.posts | where:"lang_ref", page.lang_ref | sort: 'lang' %}
{% if posts.size == 0 %}
    {% assign posts=site.pages | where:"lang_ref", page.lang_ref | sort: 'lang' %}
{% endif %}
{% if posts.size > 1 %}
<div class="language-switcher">
    {% for post in posts %}
        {% if post.lang != page.lang %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="{{ post.lang }}-link">
            {% if post.lang == 'en' %}
            EN
            {% else %}
            中文
            {% endif %}
        </a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
