<aside class="sidebar">

  {% if page.id %}
  <div class="widget widget-recent">
    <h3 class="widget-title">{% if page.lang == 'cn' %}最近文章{% else %}Recent Posts{% endif %}</h3>
    {% assign filtered_posts = site.posts | where: "lang", page.lang %}
    {% for post in filtered_posts limit:4 %}
    <div class="recent-posts">
      {% if post.image %}
      <div class="recent-header">
        <a class="recent-image" href="{{ root_url }}{{ post.url | prepend: site.baseurl }}"
          style="background-image: url('{{ site.baseurl | append: post.image }}');"></a>
      </div>
      {% else %}
      {% endif %}
      <div class="recent-content">
        <h6 class="recent-title"><a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h6>
        <div class="recent-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%B %-d, %Y"}}</time>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  {% endif %}

  <div class="widget widget-social">
    <h3 class="widget-title">Connect</h3>
    <ul class="social-profiles list-reset">
      {% if site.twitter %}
      <li class="social-profiles-item">
        <a href="{{ site.twitter }}" class="social-profiles-link"><i class="fab fa-twitter"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.spotify %}
      <li class="social-profiles-item">
        <a href="{{ site.spotify }}" class="social-profiles-link"><i class="fab fa-spotify"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.contact %}
      <li class="social-profiles-item">
        <a href="{{ site.contact }}" class="social-profiles-link"><i class="fas fa-envelope"></i></a>
      </li>
      {% else %} {% endif %}

      <li class="social-profiles-item">
        <a href="{{ site.baseurl }}/feed.xml" class="social-profiles-link"><i class="fas fa-rss"></i></a>
      </li>
    </ul>
  </div>

  {% if site.newsletter == true %}
  <div class="widget widget-newsletter">
    <h3 class="widget-title">Newsletter</h3>
    <div class="newsletter-subtitle">Enter your email address</div>
    <div class="newsletter-text">Get updates from {{site.author-name}}</div>
    <form class="c-newsletter-form validate" action="{% if site.mailchimp %}//{{site.mailchimp}}{% else %}#{% endif %}"
      method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="newsletter-group">
        <div class="newsletter-group-top">
          <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
          <i class="email-icon fas fa-envelope"></i>
          <input class="newsletter-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="E-mail">
        </div>
        <input class="newsletter-button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="Subscribe">
      </div>
    </form>
  </div>
  {% endif %}

  {% if site.instafeed == true %}
  <div class="widget widget-instagram">
    <h3 class="widget-title">Instagram</h3>
    <div class="instagram-box">
      <ul id="instafeed" class="instagram-grid list-reset clearfix"></ul>
      <a class="instagram-prof" href="#">&#64;UserName</a>
    </div>
  </div>
  {% endif %}

  <div class="widget widget-tags">
    <h3 class="widget-title">{% if page.lang == 'cn' %}标签列表{% else %}Tag Cloud{% endif %}</h3>
    {% assign filtered_posts = site.posts | where: "lang", page.lang %}
    {% assign filtered_tags = '' %}
    {% for post in filtered_posts %}
      {% for tag in post.tags %}
        {% assign filtered_tags = filtered_tags | append: tag | append: ',' %}
      {% endfor %}
    {% endfor %}
    {% assign tag_words = filtered_tags | split:',' | uniq | sort %}
    <ul class="tag-list list-reset">
      {% for tag in tag_words %}
      <li class="tag-item"><a href="{{ site.baseurl }}/tags#{{ tag | cgi_escape }}"
          class="tag">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>

</aside> <!-- /.sidebar -->