.language-switcher {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  
  a {
    display: inline-block;
    padding: 4px 8px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    color: $text;
    background-color: rgba($primary-color, 0.1);
    border-radius: 4px;
    transition: all .25s;
    
    &:hover {
      color: $white;
      background-color: $primary-color;
    }
  }

  .en-link, .cn-link {
    text-decoration: none;
  }
}
